html, body {
  margin: 0px;
  height: 100%;
}

body {
  background-color: aqua;
  overflow: hidden;
}

.box {
  text-align: center;
}

h1, h2, h3 {
  font-size: 100px;
  margin-top: 10vh;
}

.newDiv {
  margin-top: 10vh;
}

.newDiv p {
  font-size: 30px;
}

.newDiv button {
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.newDiv input {
  min-width: 25vw;
}

.counter {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
}

.endValue {
  font-size: 80px;
}